[tool.ruff]
# Set the maximum line length for both linter and formatter.
line-length = 88
# Specify the target Python version for compatibility.
target-version = "py311"

[tool.ruff.lint]
# Select specific rule sets to enable.
# "E" for pycodestyle errors, "F" for Pyflakes, "I" for isort-like import sorting.
select = ["E", "F", "I", "PERF"]
# Ignore specific rules, e.g., E501 for line-too-long if you prefer a different handling.
ignore = ["E501"]
# Exclude certain directories from linting.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
]

[tool.ruff.format]
# Define formatting preferences.
quote-style = "double"
indent-style = "space"
# Whether to format code examples within docstrings.
docstring-code-format = true